
.wrapperdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.leftside{
    position: sticky;
    top: 0;
    color: #000;
    width: 40%;
    min-width: 300px;
    padding-top: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    align-self: start;
}

.childtext{
    margin-top: -15px;
}

.rightside{
    display: flex;
    color: #000;
    width: 350px;
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
    min-width: 300px;
}