@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');

.headLineBox{
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: calc(20px + 4vw);
    font-family: 'Hind', sans-serif;
    line-height: 1em;
    margin-top: 200px;

}