@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap');


.logocontainer{
    display: flex;
    flex-direction: row;
    background-color: #355D71;
    height: 45px;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 2;
}

.mantalogo{
    height: 35px;
    margin-left: 15px;
    margin-top: 2px;
    padding-left: 15px;
}

