.videobox{
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 300px;
    align-self: center;
    justify-self: center;
    /* margin-left: 250%; */
    border-radius: 15px;
    /* background-color: black; */
}