body {
  background-color: #add8e6;
}

.topsection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5%;
  position: absolute;
  top: 50;
  background-color: #add8e6;
}

.leftTop {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 420px;
  max-height: 650px;
  align-items: center;
  justify-content: center;
  padding-right: 0%;

}

.rightTop{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 420px;
  min-height: 800px;
  align-items: center;
  justify-content: center;
  padding-right: 0%;
  /* background-color: lightcoral; */
}